{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

  <div class="container row   mt-5  ">

    <div class="d-block p-5 offset-md-6  col-sm-6 col-md-4 col-xl-6 bg-light card">
      <div class="card-header text-center bg-white h5 font-italic mb-4">
        Inscription</div>
      {{ form_start(registrationForm) }}
      <div class='d-flex justify-content-center'>
        {{ form_row(registrationForm.email) }}
      </div>

      <div class='d-flex justify-content-center'>
        {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
      </div>

      <div class='d-flex justify-content-center mt-3'>
        {{ form_row(registrationForm.agreeTerms) }}
      </div>

      <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-lg btn-block btn-warning">S'inscrire</button>
      </div>

      {{ form_end(registrationForm) }}

    </div>

  </div>

{% endblock %}
