{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

  <div class="container">
    <h1 class="text-center">Liste des produits</h1>
    {% for produit in produits %}
      <div class="card mt-5">
        <h5 class="card-header">{{produit.name}}</h5>
        <div class="card-body d-flex justify-content-between">
          <div class="w-75">
            <h5 class="card-title">{{produit.category}}</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{produit.description}}</p>
              <p class="card-text text-success fst-italic me-5">
                {{produit.stock}}
                en stock</p>
            </div>

            <a href="{{ path('app_produits_show', {'id': produit.id}) }}" class="btn btn-outline-primary">
              <i class="fas fa-info-circle"></i>
              Fiche produit</a>
            <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-outline-success">
              <i class="fa fa-cart-arrow-down"></i>
              Ajouter au panier</a>
          </div>

          <div class="bg-secondary w-25"></div>

        </div>
      </div>
    {% endfor %}

  </div>

{% endblock %}