{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
  <div class="container">
    <h2 class="text-center mt-5 mb-5 text-secondary">Découvrez les produits de la catégorie
      {{category.name}}</h2>

    <div class="row">

      {% for produit in category.produits %}

        <div class="col-md-4 mb-5 card ">
          <div class="product-item text-center">
            <a href="{{ path('app_produits_show', {'id': produit.id}) }}"><img src="/images/{{produit.images}}" alt="{{produit.name}}" class="img-fluid"></a>
            <h5>{{produit.name}}</h5>
            <p>{{produit.category}}</p>
            <p class="mb-5">{{produit.description}}</p>
            <div class="d-flex justify-content-around">
              <p class="fw-bold">{{produit.price | number_format(2, '.', ',')}}
                €</p>

              {% if produit.stock == 0 %}
                <a href="" class="btn btn-outline-danger disabled">
                  <i class="fa fa-shopping-cart"></i>
                  En rupture</a>
              {% else %}
                <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-success">
                  <i class="fa fa-shopping-cart"></i>
                  Ajouter</a>
              {% endif %}
            </div>
          </div>
        </div>

      {% endfor %}

    </div>

  </div>

{% endblock %}
