{% extends 'base.html.twig' %}

{% block title %}Finaliser ma commande{% endblock %}

{% block body %}

  <div class="container">
    <h2 class="mt-5">Passer la commande</h2>

    <hr>

    <div class="row">
      <div class="col-md-5 ">

        {% set formHtml %}
        {{ form_start(form, {action: path('order_recap') }) }}
        {{ form_end(form) }}
        {% endset %}

        {{formHtml | replace({'[br]': '<br/>'})|raw}}

      </div>
      <div class="col-md-1"></div>

      <div class="col-md-6">
        <h6 class="mb-4 fst-italic text-info text-center">Récapitulatif de la commande</h6>
        {% for product in cart %}

          <div class="row">
            <div class="col-3">
              <a href="{{ path('app_produits_show', {'id': product.product.id}) }}"><img src="/images/{{product.product.images}}" alt="{{product.product.name}}" class="img-fluid"></a>
            </div>

            <div class="col-6 my-auto">
              <span class="text-uppercase">{{product.product.name}}</span>
              <br/>
              <small class="text-muted fst-italic ">{{product.product.description}}</small>
              <br>

              x
              {{product.quantity}}
            </div>

            <div class="col-3 fw-bold my-auto text-muted">
              {{product.product.price}}
              EUR
            </div>
          </div>

        {% endfor %}
        <hr>

        <div class="h6">
          Sous total :
          <span class="text-muted fw-bold">{{total}}
            EUR</span>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
