{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block body %}

  <div class="container mt-5">

    <h1 class="mb-5">Mes adresses</h1>

    <div class="row">
      <div class="card p-4 col-md-3">
        <a href="{{ path('address_add') }}" class="text-center">
          <i class="fa fa-plus-circle text-info fa-2x text-center"></i>
        </a>
        <div class="lead text-center">
          Ajouter une adresse
        </div>
      </div>
    </div>

    {% if app.user.addresses | length == 0 %}
      <div class="mt-5 mb-5 text-center lead">
        Vous n'avez pas encore ajouter d'adresse.
      </div>
    {% else %}
      <div class="row mt-5 ">
        {% for address in app.user.addresses %}
          <div class="card border-secondary p-3 col-md-3 bg-light me-5">
            <div class="card-header">
              <p class="text-center">{{address.name}}
                <i class="fa fa-pencil ms-3 text-info"></i>
                <i class="fa fa-trash text-danger ms-2"></i>
              </p>
            </div>
            <div class="card-body">
              <p class="fw-bold">M..
                {{address.firstName}}
                {{address.lastName}}</p>

              <p>{{address.address}}</p>

              <p>{{address.company}}</p>

              <p>{{address.postal}},
                {{address.city}}</p>

              <p>{{address.country}}</p>

              <p >
                <i class="fa fa-phone">
                  <span class="ms-3">{{address.phone}}</span></i>
              </p>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <div>
        <a href="{{ path('app_account') }}" class="btn btn-secondary mt-5">
          <i class="fa fa-arrow-left me-2"></i>
          Revenir à mon compte

        </a>
      </div>

    </div>

  {% endblock %}
